.infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.flex1{
	flex:1;
	
}
.flexColumn{
	display:flex; flex-direction:column;
}
.hide{
	display:none;
}
.explainWrap p{
	margin-top:5px; margin-bottom:5px;
}
.getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	

.getHelpBtnWrap .abp{
    align-self: center;
    margin-top:5px !important;
}	
.getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .getHelpBtnWrap .button{
	margin-bottom:0;
}
/* fix the accordion height issue in Safari */
.sidebar-content{
	height:auto !important;
        margin-top: 20px !important
}

.bp_submitButtonRunning{
	color: #999999;
	margin-top: 5px;
	margin: 0 auto;
}

.bp_flexColHCenter{
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:column; 
    /*vertical center--*/
    align-items: center;
}


 /*css for IE 10 & 11-- don't use align-items: center since IE doesn't deal with it well*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.bp_flexColHCenter{
	   
	    padding: 0;
	    margin: 0;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    flex-direction:column; 
	    align-items: stretch;
	}
}

/*css for IE Edge 12 -- don't use align-items: center since IE doesn't deal with it well*/
@supports (-ms-accelerator:true) {
	.bp_flexColHCenter{
	   
	    padding: 0;
	    margin: 0;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    flex-direction:column; 
	    align-items: stretch;
	}
}

.bp_flexRowHCenter{
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.bp_flexRow{
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;

}
.bp_flex{
    display: flex;
    
}
.bp_flexCol{
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:column; 
    /*vertical center--*/
/*    align-items: center;*/
}

.bp_flexRightAlignContents{
    display: flex; 
    justify-content: flex-end;
    padding-right:5px;
}

.bp_flexFillVerticalContainer{
    display: flex;
    flex-direction: column;
}
.bp_lightGrayDiv1{
    background-color: #eff4f4;
    padding-top: 5px;
}

.bp_lightGrayDiv2{
    background-color: #e1e8e8;
    padding-top: 5px;
}

.bp_clickHeaderText{
    text-align: left;
}

.bp_chosenMetricContainer{
    height: 20px;
}

.bp_metricSlider{
    background-color: white !important;
}

.bp_glanceStats{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    height: 105px;
}

.bp_glanceStatsContainer h2,
.bp_glanceStatsContainer h3
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.bp_glanceStatsContainer h3{
    font-weight: 500;
}

.bp_glanceStatsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.bp_glanceStatsContainerRight{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 0 0 auto;
}

.bp_sumStatsTable{
	width: 300px;
}
.bp_flexNoWrap{
	flex-wrap: nowrap;
	flex-direction: row;
	margin: 5px;
}

.bp_strong{
	color:#000066;
	font-weight:600;
}
.bp_button{
	margin: 5px;
}


.bp_textInput{
	margin-top: 5px;
}

.bp_bottom{
	margin-top:auto;
}

.bp_footerContainer{
	padding-top:10px;
	height:60%;
 	flex:1 1 auto;	
 	margin-top:0px;
 	margin-bottom: 0px;
}
.bp_footerButtonDiv{
	margin-top: auto;

}

.bp_expand{
	border-radius: 50%;
	font-size: 16pt;
	color: #000000;
}

.bp_barChart{
	width:275px;
	
}

.bp_weightInput{
	width:40px !important;
	height: 25px !important;
	text-align: center;
	margin-left:10px !important;
	margin-right:10px !important;
	margin-top: 5px !important;
	
} 



.bp_weighted{
	background-color: #6CC2C7 !important;	
	font-weight:800 !important;
}

.bp_grayText{
	color: #999999;
}

.bp_h4{
	margin-top:0px !important;
	margin-bottom:0px !important;		
}

.bp_metricLabel{
	font-size:11px;
	right: 40px !important;
	float: left;
	margin-bottom: 20px ;
	color:#4286f4;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.bp_metricLabelText{
	margin-left: 60px;
	display:block;
	margin-top: -27px;
	text-decoration:underline;
}

.bp_barChartLabel{
	margin-bottom: 0px !important;
	margin-top: 10px !important;
}
.d3_legend{
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}

.bp_expander{

}

.bp_currWeight{
	font-size: 15pt;
	font-weight: bold;
}

.stats .number {
    left: 13px;
	line-height: 50px;
	font-size: 17px;
}
.stats .description {
    line-height: 17px;
    font-size: 12px;
    padding-top: 2px;
}
.stats .number .value {
	font-size: 18px;

	font-weight: bold;
	vertical-align: middle;
	text-align:center;
}
.stats .stat .pill {
	background-color: #36a7d8;
    color: #fff;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    margin:4px 4px 4px 4px;
}
/*#########################################*/
/* transparency slider */
.bp_transparency-control {
	/*position: absolute;*/
	display: inline-block;
	margin: 4px 20px 0px;
	vertical-align: top;
	/*right: 60px;*/
	z-index: 10;
}


.fa-info-circle {
	color: #266f9c;
    top: 23px;
    left: 4px;
    font-size: 16px;
   
}
.bp_transparency-header {
	display: none;
	position: absolute;
	font-size: 11px;
	top: -14px;
	left: -7px;
}

.bp_transparency-label {
	position: relative;
    font-size: 11px;
    width: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

.bp_transparency-label::after {
	content: "\f042";
	position: absolute;
	top: -3px;
	right: -11px;
	font-family: "FontAwesome";
	font-size: 16px;
	color: #2678ca;
}

.bp_transparency-label .value {
	display: none;
}

.bp_transparency-slider {
	/*position: absolute;*/
	/*display: none;*/
    width: 65px;
    height: 5px;
    right: 3px;
    background-color: #aaa;
    padding: 0 2px;
    border-radius: 3px;
    border-top-right-radius: 0;
    margin-left:20px;
}

.bp_transparency-control.open .bp_transparency-slider {
	display: block;
}

.bp_transparency-control[data-opacity="100"] .bp_transparency-label::after {
	color: #596165;
}

.bp_transparency-slider .slider.ui-slider {
	margin-top: 5px;
	height: 4px;
	background: none;
	background-color: #767676;
}

.bp_transparency-slider .slider.ui-slider .ui-slider-handle {
	width: 13px;
	height: 13px;
	margin-left: -7.5px;
	margin-top: -2px;
	background: none;
	background-color: #767676;
}

/*#########################################*/

/*#########################################*/
/* Tablesorter table elements */

table.tablesorter {
	background-color:none; text-align: left; border-collapse: collapse; 
	/*overflow: -moz-scrollbars-vertical;  overflow-y: scroll !important; overflow-x: scroll !important;*/
	/*overflow-y: auto;    
    overflow-x: auto;    */
   max-width:300px !important;
	max-height: 440px !important; border-bottom: 1px solid #215973; 
	margin-top:0px; margin-bottom:0px; 
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: none; padding: 4px; padding-right: 4px;
}
table.tablesorter tbody tr td, table.tablesorter tr td, table.tablesorter thead tr th{
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif !important; 
	font-size:8pt !important;
}  

table.tablesorter thead tr .header {
	background-image: url(bg.gif); background-repeat: no-repeat; background-position: center right; 
	cursor: pointer; background-color: none;
	overflow-y: auto;    Trigger vertical scroll
    overflow-x: auto;
}


table.tablesorter tbody td {
	color: #3D3D3D; padding: 4px; vertical-align: top; background-color: none; border-top: 1px solid #215973; 
	border-left: 1px solid #215973; border-right: 1px solid #215973;
	

}

table.tablesorter tbody tr.odd td {
	background-color:none;

}



table.tablesorter tbody > tr:nth-of-type(1) {
    margin-top: 27px;
}


table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif); background-color: none;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif); background-color: none;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: none;
}


.trclick{
	cursor:pointer;
}
.trclick:hover{
	color:blue;
}

table.tablesorter tr:hover{
	background-color:#e3eff5;
}

table.tablesorter th{
	border-top: 1px solid #215973; 
	border-left: 1px solid #215973; border-right: 1px solid #215973;
}

table.tablesorter th {
	height:20px; border: 1px solid #215973 !important; background-color:white;
} 


table.tablesorter .filtered {
  display: none;
}




 
